/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

.universe {
    height: 100vh;
    background-image: -o-radial-gradient(#555, black);
    background-image: radial-gradient(#555, black);

    display: -ms-grid;

    display: grid;
    place-items: center;
}

.stars {
    height: 100vh;
    width: 100vw;
    background-image: url(images/stars.png);
    background-size: cover;
    background-position: center;

    position: absolute;

    -webkit-animation: star-twinking 2s infinite alternate;

            animation: star-twinking 2s infinite alternate;
}

@-webkit-keyframes star-twinking {
    100% {
        opacity: 0.4;
    }
}

@keyframes star-twinking {
    100% {
        opacity: 0.4;
    }
}

.sun {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 30px #f5c91a;
            box-shadow: 0 0 30px #f5c91a;
    background-image: -o-radial-gradient(#f5c313, #ec7e08);
    background-image: radial-gradient(#f5c313, #ec7e08);

    -webkit-animation: sun-fire 2s infinite alternate;

            animation: sun-fire 2s infinite alternate; 
}

@-webkit-keyframes sun-fire {
    100% {
        -webkit-box-shadow: 0 0 100px #f5c91a;
                box-shadow: 0 0 100px #f5c91a;
    }
}

@keyframes sun-fire {
    100% {
        -webkit-box-shadow: 0 0 100px #f5c91a;
                box-shadow: 0 0 100px #f5c91a;
    }
}

.earth-orbit {
    width: 90vh;
    height: 90vh;
    border-radius: 50%;
    /* border: 2px dashed gold; */
    display: -ms-grid;
    display: grid;
    place-items: center;

    -webkit-animation: spin 60s linear infinite;

            animation: spin 60s linear infinite;

}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.moon-orbit {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* border: 2px dashed orange; */

    position: absolute;
    top: calc(50% - 120px / 2);
    left: calc(-120px / 2);
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    -webkit-animation: spin 30s linear infinite;

            animation: spin 30s linear infinite; 

}

.earth {
    width: 80px;
    height: 90px;
    border-radius: 50%;

    -webkit-animation: donotspin 30s linear infinite;

            animation: donotspin 30s linear infinite; 
}

@-webkit-keyframes donotspin {
    100% {
        -webkit-transform:rotate(-720deg) ;
                transform:rotate(-720deg) ;
    }
}

@keyframes donotspin {
    100% {
        -webkit-transform:rotate(-720deg) ;
                transform:rotate(-720deg) ;
    }
}

.earth img {
    width: 80px;
}

.moon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: -o-radial-gradient(#ddd, #888);
    background-image: radial-gradient(#ddd, #888);
}