*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

.universe {
    height: 100vh;
    background-image: radial-gradient(#555, black);
}

.stars {
    height: 100vh;
    width: 100vw;
    background-image: url(/images/stars.png);
    background-size: cover;
    background-position: center;

    animation: star-twinking 2s infinite alternate;
}

@keyframes star-twinking {
    100% {
        opacity: 0.4;
    }
}

.sun {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 30px #f5c91a;
    background-image: radial-gradient(#f5c313, #ec7e08);

    position: absolute;
    left: calc(100vw / 2 - 200px / 2);
    top: calc(100vh / 2 - 200px / 2);

    animation: sun-fire 2s infinite alternate;
}

@keyframes sun-fire {
    100% {
        box-shadow: 0 0 100px #f5c91a;
    }
}

.earth-orbit {
    width: 90vh;
    height: 90vh;
    border-radius: 50%;
    /* border: 2px dashed gold; */

    position: absolute;
    left: calc(100vw / 2 - 90vh / 2);
    top: calc(100vh / 2 - 90vh / 2);

    animation: spin 60s linear infinite;

}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.moon-orbit {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* border: 2px dashed orange; */

    position: absolute;
    top: calc(50% - 120px / 2);
    left: calc(-120px / 2);
    display: grid;
    align-items: center;
    justify-content: center;

    animation: spin 30s linear infinite;

}

.earth {
    width: 80px;
    height: 90px;
    border-radius: 50%;

    animation: donotspin 30s linear infinite;
}

@keyframes donotspin {
    100% {
        transform:rotate(-720deg) ;
    }
}

.earth img {
    width: 80px;
}

.moon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: radial-gradient(#ddd, #888);
    
    position: absolute;
    left: calc(-30px / 2);
}